# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# VS Code settings
.vscode/

# Environment variables
.env

# Test/cache folders
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db